*
!.gitignore
!README.md
!server 1.18.2/
!server 1.18.2/api/
!server 1.18.2/api/oficial.py
!server 1.18.2/api/hologramas.py
!server 1.19.4/server.properties
!server 1.19.4/
!server 1.19.4/README.md
!server 1.19.4/plugins/Skript/arena.sk
!server 1.19.4/plugins/Skript/backup.sk
!server 1.19.4/plugins/Skript/limpirchat.sk
!server 1.19.4/plugins/Skript/vida.sk
!server 1.19.4/plugins/WorldGuard/config.yml
!server 1.19.4/plugins/WorldGuard/README.md
!server 1.19.4/plugins/Skript/config.sk
!server 1.19.4/plugins/Skript/README.md
